.App {
  text-align: center;
}

.form{
  width: 50vw;
  height: 25vh;
  margin: auto;
  margin-bottom: 2px;
  background-color: blueviolet;
}
.reviews{
  margin-top: 27vh;
  height: 30vh;
  background-color: rgb(250, 250, 250);
}